// Add your own CSS here!
:root {
  --light: #faf8f8;
  --dark: #141021;
  --secondary: #da4444;
  --tertiary: #5747b4;
  --visited: #afbfc9;
  --primary: #36cc40;
  --gray: #4e4e4e;
  --lightgray: #f0f0f0;
  --outlinegray: #dadada;
}

[saved-theme="dark"] {
  --light: #020202 !important;
  --dark: #fbfffe !important;
  --secondary: #da4444 !important;
  --visited: #4a575e !important;
  --tertiary: #5747b4 !important;
  --primary: #36cc40 !important;
  --gray: #d4d4d4 !important;
  --lightgray: #292633 !important;
  --outlinegray: #343434 !important;
}